!!!
%html
  %head
    %title Schimanski
  %body
    %center
      %h1 Convert mediathek urls to download urls
      %h2 Download link for
      %a{href: movie_url, target: "_blank"}= movie_url
      %a{href: link, target: "_blank"}= link
