!!!
%html
  %head
    %title Schimanski
  %body
    %center
      %h1 Convert mediathek urls to download urls
      %h2 Download link for
      %a{href: movie_url, target: "_blank"}= movie_url
      %br
      %hr
      %a{href: link, target: "_blank"}= link
      %p Right click and `save as` will make it possible to download, you might also want to change the filename.
      %hr
      %a{href: "/"} Convert again


